body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
text-align:center;
background:#f5a6a6;
}

.oculto{
display:none;
}

#inicio{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

button{
padding:15px 30px;
font-size:18px;
border:none;
border-radius:10px;
background:#ff3b7c;
color:white;
cursor:pointer;
margin-top:20px;
}

#velaSection{
background:black;
color:white;
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.velaContainer{
position:relative;
display:flex;
justify-content:center;
align-items:center;
}

#vela{
width:260px;
}

#humo{
display:none;
position:absolute;
top:-140px;
left:50%;
transform:translateX(-50%);
width:130px;
}

.escena{
position:relative;
height:600px;
display:flex;
justify-content:center;
align-items:flex-end;
}

.torta{
width:430px;
z-index:2;
}

.personajes{
position:absolute;
bottom:230px;
display:flex;
gap:60px;
z-index:1;
}

.heroe{
display:flex;
flex-direction:column;
align-items:center;
}

.heroe img{
width:320px;
}

.heroe p{
background:white;
color:black;
padding:12px;
border-radius:10px;
margin-bottom:18px;
font-size:18px;
font-weight:bold;
max-width:200px;
}

#carta{
width:210px;
margin-top:30px;
cursor:pointer;
}

.carta{
background:white;
width:70%;
margin:auto;
padding:30px;
border-radius:20px;
margin-top:60px;
}

.contenidoCarta{
display:flex;
align-items:center;
gap:40px;
}

.texto{
width:60%;
}

.deku{
width:330px;
object-fit:contain;
}

#finalMensaje{
margin-top:200px;
font-size:30px;
}